{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": "./src",
      "alias": {
        "api": "./src/api",
        "connection": "./src/connection"
      }
    }]
  ]
}
